.form-container {
  padding-top: 2rem;
  width: 28%; /* Ancho del formulario */
}
form {
  
  padding: 25px;
  background: #F4F4F4;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

form input,
form select, 
form textarea {
  height: 40px;
  padding: 10px;
  width: 90%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #160B06;
}
form textarea{
  height: 100px;
}

form input:focus,
form select:focus {
  border-color: #95BDBD;
  background:#95BDBD ;
  color:#F4F4F4 ;
}

form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #333050;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: #5D718A;
  transition: 0.2s ease;
}

.submit-btn input:hover {
  background: #333050;
}
@media screen and (max-width: 1200px) {
  .form-container {
    width: 90%; /* Ancho del formulario */
  }
  form {
    
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }
}

