@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Marcellus+SC&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Marcellus SC', serif;
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #232323;
}

h1,h2,h3,h4,h5,p,ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    color: inherit;
}

section {
    & h1 {
        font-size: 2rem;
    }
}

.body-container {

    & .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
        flex-wrap: wrap;

        & .logo {
            width: 15vw;
        }

        & .navbar {

            & ul {
                list-style: none;
                display: flex;
                align-items: center;
                font-weight: 600;
                gap: 5em;
                flex-wrap: wrap;

                & li {
                    cursor: pointer;
                }

                & li:active {
                    color: #444444;
                }
            }
        }

        & .btn-reserva {
            background-color: #333050;
            color: white;
            border-radius: 50px;
            padding: 0.8em 1.6em;
            letter-spacing: 0.05em;
            cursor: pointer;
            border: none;
            box-shadow: 0 2px 10px rgb(0, 0, 0,50%);
            text-decoration: none;
        }

        & .btn-reserva:active {
            background-color: #27253d;
        }
    }

    & .landing {
        height: 90vh;
        background-image: url('assets/images/landing_bg.png');
        background-position-x: center;
        background-position-y: center;
        background-color: #6b6b6b;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;

        & .landing-content {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            & h1 {
                font-family: 'Marcellus SC', serif;
                font-size: 4rem;
                font-weight: 100;
                letter-spacing: 0.2rem;
                pointer-events: none;

                & span {
                    font-size: 1.2em;
                }
            }

            & h3 {
                font-family: 'Marcellus SC', serif;
                font-weight: 100;
                letter-spacing: 0.4em;
                pointer-events: none;
            }

            & .availability-section {
                margin-top: 3em;
                width: 811px;
                height: 50px;
                background-color: transparent;
                border-radius: 5px;
                color: #232323;
                display: flex;
                box-shadow: 0 2px 10px rgb(0, 0, 0,50%);

                & h2 {
                    flex-grow: 1;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    background-color: white;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;

                    & i {
                        margin-right: 1em;
                    }
                }

                & .date-select {
                    border-left: 2px solid rgb(179, 179, 179);
                    cursor: pointer;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                & .date-select:active {
                    background-color: rgb(219, 219, 219);
                }

                & .btn-availability {
                    background-color: #333050;
                    color: white;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    cursor: pointer;
                }

                & .btn-availability:active {
                    background-color: #28263f;
                }
            }
        }
    }

    & .services {
        text-align: center;
        margin-top: 4em;


        & .services-cards {
            margin: 4em 0;
            display: flex;
            gap: 2em;
            flex-wrap: wrap;
            justify-content: center;

            & .service {
                background-color: #fafafa;
                text-align: center;
                padding: 2em 0;
                width: 20vw;

                & img {
                    filter: grayscale(100) brightness(0%);
                    margin-bottom: 0.5em;
                }

            }
        }
    }

    & .rooms {
        padding: 3em 0;
        text-align: center;
        background-color: #fafafa;

        --borde-room-card: 25px;

        & .room-cards {
            /* border: 1px solid red; */
            width: 70vw;
            margin: 1em auto;
            display: flex;
            gap: 2em;
            overflow: scroll;
            padding: 2em;

            & .room {
                border-radius: var(--borde-room-card);
                box-shadow: 0 2px 20px rgb(0, 0, 0,20%);
                padding: 0 0 2em 0;
                text-align: start;

                & img {
                    display: block;
                    width: 30vw;
                    border-top-left-radius: var(--borde-room-card);
                    border-top-right-radius: var(--borde-room-card);
                    height: 260px;
                }

                & h2 {
                    margin: 1em 1em 0 1em;
                }
            }
        }

        & .room-cards::-webkit-scrollbar {
            display: none;
        }
    }

    & .footer {
        background-color: #232323;
        color: white;
        padding: 3em 5em;

        & .footer-content {
            /* border: 1px solid blue; */
            font-weight: 300;

            & .footer-section1 {
                display: flex;
                height: 300px;
                justify-content: space-around;

                & .info {
                    width: 30%;
                }

                & .info1 {
                    /* border: 1px solid yellow; */

                    & .logo {
                        filter: invert(100%);
                        width: 300px;
                        margin-bottom: 1.5em;
                    }

                    & h3 {
                        margin: 1em 0;
                        font-weight: 300;
                        font-size: 1rem;

                        & i {
                            margin-right: 0.5em;
                        }
                    }
                }

                & .info2 {
                    /* border: 1px solid lightcoral; */
                    display: flex;
                    align-items: start;

                    & ul {
                        list-style: none;

                        & li {
                            margin: 0 2em 1em 0;
                            cursor: pointer;
                        }

                        & li:active {
                            color: rgb(219, 219, 219);
                        }
                    }
                }

                & .info3 {
                    /* border: 1px solid cyan; */
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;
                    width: 20%;
                    color: #232323;

                    & h2 {
                        color: white;
                        font-weight: 500;
                    }

                    & input {
                        padding: 0.8em;
                        border-radius: 5px;
                        font-family: inherit;
                        border: none;
                    }

                    & input:focus {
                        outline: none;
                        box-shadow: 0 2px 10px #333050;
                    }

                    & button {
                        padding: 0.8em;
                        border: none;
                        border-radius: 10px;
                        color: white;
                        background-color: #333050;
                        font-weight: 600;
                        box-shadow: 0 2px 10px rgb(0, 0, 0,30%);
                    }

                    & button:active {
                        background-color: #1f1d31;
                    }
                }
            }

            & .footer-section2 {
                display: flex;
                height: 200px;
                margin: 1em 3.5em;

                & .info4 {
                    /* border: 1px solid cyan; */
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1em;


                    & .medios-pagos {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                    }

                    & iframe {
                        border: none;
                        border-radius: 10px;
                        width: 500px;
                        height: 200px;
                    }

                }
            }

            & h4 {
                font-weight: 300;
            }
        }
    }
}

.main-reservas {

    & .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
        flex-wrap: wrap;
        background-color: #232323;
        color: white;

        & .logo {
            width: 15vw;
            filter: invert(100%);
        }

        & .navbar {

            & ul {
                list-style: none;
                display: flex;
                align-items: center;
                font-weight: 600;
                gap: 5em;
                flex-wrap: wrap;

                & li {
                    cursor: pointer;

                    & .btn-login {
                        background-color: #232323;
                        border: 1px solid rgb(100, 100, 100);
                        color: white;
                        border-radius: 50px;
                        padding: 0.8em 1.6em;
                        letter-spacing: 0.05em;
                        cursor: pointer;
                        box-shadow: 0 2px 10px rgb(0, 0, 0,50%);

                        & i {
                            margin-right: 0.5em;
                        }
                    }

                    & .btn-login:active {
                        background-color: #414141;
                    }
                }

                & li:active {
                    color: #444444;
                }
            }
        }


    }

    & .reservas-container {
        background-color: rgb(248, 248, 248);
        display: flex;
        padding: 2em;
        gap: 2em;

        & .reservas-user {
            width: 70%;
            padding: 0 2em 2em 2em;

            & .inputs-user {
                display: flex;
                margin-bottom: 1em;

                & .input {
                    border: 1px solid rgb(230, 230, 230);
                    display: flex;
                    gap: 0.5em;
                    flex-grow: 1;
                    align-items: center;
                    padding: 0.2em 1em;
                    background-color: white;
                    cursor: pointer;

                    & i{
                        font-size: 1.5em;
                        color: #333050;
                    }

                    & .input-info {

                        & h4 {
                            color: #333050;
                        }
                    }
                }

                & .input:active {
                    background-color: #f7f7f7;
                }
            }

            & .habitaciones {
                margin-top: 1em;

                & .habitacion {
                    padding: 1em;
                    display: flex;
                    gap: 1em;
                    margin-bottom: 1.5em;
                    border: 1px solid rgb(230, 230, 230);
                    background-color: white;

                    & .habitacion-imagen {

                        & img {
                            width: 300px;
                        }
                    }

                    & .habitacion-info {
                        flex-grow: 1;

                        & ul {
                            padding:1em;
                        }

                        & .btn-detalles {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid #333050;
                            color: #333050;
                            padding: 0;
                            cursor: pointer;
                        }

                        & .btn-detalles:active {
                            border-bottom: 1px solid #7d76c2;
                            color: #7d76c2;
                        }

                        & .reserva-info {
                            display: flex;
                            justify-content: space-between;
                            border-top: 1px solid rgb(175, 175, 175);
                            border-bottom: 1px solid rgb(175, 175, 175);
                            padding: 1em 0;
                            margin: 1em 0;

                            & .info-adicional {

                                & .btn-terminos {
                                    background-color: transparent;
                                    border: none;
                                    border-bottom: 1px solid #333050;
                                    color: #333050;
                                    padding: 0;
                                    cursor: pointer;
                                }

                                & .btn-terminos:active {
                                    border-bottom: 1px solid #7d76c2;
                                    color: #7d76c2;
                                }

                                & h4 {
                                    margin: 1em 0;

                                    & i {
                                        margin-right: 0.5em;
                                    }
                                }
                            }

                            & .precio-reserva {
                                display: flex;
                                flex-direction: column;
                                align-items: end;


                                & .btn-reservar {
                                    font-size: 1.5rem;
                                    background-color: #333050;
                                    color: white;
                                    padding: 0.5em 1em;
                                    margin: 0.5em 0 0 0;
                                    border: none;
                                    cursor: pointer;
                                }

                                & .btn-reservar:active {
                                    background-color: #484470;
                                }
                            }
                        }
                    }
                }
            }
        }

        & .reservas-resumen {
            background-color: white;
            border: 1px solid rgb(230, 230, 230);
            align-self: self-start;
            width: 30%;
            padding: 2em;

            & .fechas {
                margin: 1em 0;
                display: flex;
                gap: 3em;

                & .fecha {

                    & p {

                        & span {
                            font-weight: bold;
                        }
                    }
                }
            }

            & .resumen-total {
                border-top: 1px solid rgb(207, 207, 207);
                padding: 0.5em 0;
                margin: 1em 0 0 0;

                & p {
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}